*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Pacifico", cursive; */
}



/* navigation start */

.main{
    width: 100%;
    /* background-color: #0F172B; */
}

.inner{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 23px;
}


header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient( rgba(15, 23, 43, .9)0%, rgba(15,23,43,.9)100%),url("../image/one\ .jpg");
}

ul{
    display: flex;
    flex-wrap: wrap;
}

h1{
    color: orange;
}

li{
    list-style: none;
}

 li a{
    color: aliceblue;
    font-size: 30px;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
}

/* navigation end */




/* banner start */

.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;

}

.banner-left{
    width: 50%;
    padding-top: 70px;

}

.banner-left h1{
    font-size: 100px;
    color: aliceblue;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
 
}

.banner-left p{
    color: aliceblue;
    font-size: 20px;
}

.banner-left button{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    background-color: orange;
}

.banner-right{
    width: 40%;
    /* background-color: red; */
    background-color: transparent;
}

img{
    width: 100%;
}

/* banner end */





/* first section start */

.first-section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-bottom: 100px;
}

.first{
    width: 23%;
    background-color: #F1F8FF;
    padding-left: 20px;
    padding-right: 20px;
    transition-duration: 0.6s;
}

.first:hover{
    background-color: orange;
    color: aliceblue;
   /* transform: rotate(180deg); */
}

.first i{
    font-size: 50px;
    margin-bottom: 25px;
    color: orange;
    margin-top: 50px;
}

.first h3{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
    /* color: orange; */
}

.first p{
    margin-bottom: 70px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}

/* first section end */





/* second section start */

.second-section{
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-left{
    width: 46%;
}

.leftone{
    width: 100%;
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.lefttwo{
    width: 100%;
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftone1{
    width: 49%;
}

.leftone2{
    width: 49%;
     padding-top: 166px;
}


.leftone2 img{
    width: 60%;
}


.lefttwo1{
    width: 49%;
}
   
.lefttwo2{
    width: 49%;
    
}

.lefttwo1 img{
    width: 100%;
    padding-left: 150px;
}

















